html{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
};
    
.HOI {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 0 0.1em #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
}