Options -Indexes

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent rewrites for static assets (CSS, JS, Images)
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule \.(css|js|png|jpg|jpeg|gif|ico)$ - [L]

    # Redirect all other requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/javascript .js
    AddType image/png .png
    AddType image/jpeg .jpg .jpeg
    AddType image/gif .gif
    AddType image/x-icon .ico
</IfModule>
